<!DOCTYPE html>
<html>
    <title>Email Sent</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href='/stylesheets/style.css'/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <head>
        <!--remove navbar-dark from nav class if everything works   -->  
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img class="testimage" src="/images/sglogo(main).png">
                </a>
                
                <!-- Dropdown button for small size screen-->
                <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <!--If scrollable then put video tab for navbar-->
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mr-auto mt-2 mt-sm-0">
                        <li class="nav-item">
                        <a class="nav-link" href="/registerTablet">Register for iPad</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/scanQR">Experience JiAR</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/leaderboard">JiAR Leaderboard</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </head>

    <body>
      <div class="background">
          <h1>Thank you for registering, <%= user.name %> !</h1>
          <h4>A verification email has been sent to <%= user.email %></h4>
          <h4>Please click on the link provided in the email to proceed.</h4>
      </div>
    </body>
</html>