<!-- This code is the original main.ejs code from 5 July 2020. -->
<!DOCTYPE html>
<html>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href='/stylesheets/style.css'/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <head>
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container">
                <a class="navbar-brand" href="">
                    <img class="testimage" src="/images/sglogo(main).png">
                </a>
                
                <!-- Dropdown button for small size screen-->
                <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <!--If scrollable then put video tab for navbar-->
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mr-auto mt-2 mt-sm-0">
                        <li class="nav-item">
                        <a class="nav-link" href="/registerTablet">Register for iPads</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/scanQR">Download JiAR</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                              aria-expanded="false">
                              Discover KrisLab
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#officialLaunch">Official Launch of KrisLab</a>
                                <a class="dropdown-item" href="#siaKrislab">SIA KrisLab</a>
                                <a class="dropdown-item" href="#digitalInnovationHub">Digital Innovation Hub</a>
                            </div>
                          </li>
                    </ul>
                </div>
            </div>
        </nav>
    </head>

    <body>
        <div class="jumbotron text-center">
            <h1>Welcome to KrisLab</h1> 
            <p>Where innovation takes flight.</p> 
        </div>
        
        <div id="officialLaunch" class="container-fluid">
            <div class="embed-responsive embed-responsive-21by9">
                <video autoplay muted loop playsinline>
                    <source src="/videos/KrisVideo1.mp4" type="video/mp4">
                </video>
            </div>
            <h2>Discover the history of KrisLab</h2>
        </div>
        <div id="siaKrislab" class="container-fluid">
            <div class="embed-responsive embed-responsive-21by9">
                <video autoplay muted loop playsinline>
                    <source src="/videos/KrisVideo2.mp4" type="video/mp4">
                </video>
            </div>
            <h2>KrisLab was featured in Business Insider</h2>
        </div>
        <div id="digitalInnovationHub" class="container-fluid">
            <div class="embed-responsive embed-responsive-21by9">
                <video autoplay muted loop playsinline>
                    <source src="/videos/KrisVideo3.mp4" type="video/mp4">
                </video>
            </div>
            <h2>KrisLab is the Innovation Hub of Singapore Airlines</h2>
        </div>
    </body>
</html>
