<!DOCTYPE html>
<html>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Links (sit on top) -->
    <div class="w3-top">
      <div class="w3-row w3-padding">
        <div class="w3-col s4">
          <a href="#" class="w3-button w3-block"><i class="fa fa-home fa-2x"></i>HOME</a>
        </div>
        <div class="w3-col s4">
          <a href="#about" class="w3-button w3-block"><i class="fa fa-tablet fa-2x"></i>Register for an iPad</a>
        </div>
        <div class="w3-col s4">
          <a href="#menu" class="w3-button w3-block"><i class="fa fa-mobile fa-2x"></i>Scan QR for Mobile Device</a>
        </div>

      </div>
    </div>
  <body>
    <div class="background-image"></div>
      
    </div>
  </body>
</html>
