<!DOCTYPE html>
<html>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href='/stylesheets/style.css'/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<head>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img class="testimage" src="/images/sglogo(main).png">
            </a>
        </div>
    </nav>
</head>

<body>
    <div class="background">
        <div class="jumbotron">
            <h1 class="display-4">Hey, its a success!</h1>
            <p class="lead">Please wait a moment for us to unlock the iPad(s).</p>
            <hr class="display-4">
            <p>We wish you a pleasant experience with JiAR.</p>
        </div>
    </div>
</body>

</html>