body, html {
    height: 100%;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  .main-page-background {
    /* Background Image */
    background-image: url("../images/wallpaper(main).jpg");
    background-color: #082767;
    /* Full Height */
    height: 100%;
  
    /* Center and scale image */
    
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .background {
    background-color: #082767;
    background-size: cover;
    height: 100%;
  }
  
  .navbar {
    background-color: #082767 !important;
    background-image: none;
    z-index: 9999 ;
    border: 0;
    font-size:15px !important;
    border-radius: 0;
  }
  
  .navbar img{
    width: 200px;
    height: 50px;
  }
  
  .navbar li a, .navbar, .navbar-brand{
    color: #fff !important;
    font-size: 15pt !important;
  }
  
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #082767 !important;
    text-decoration: underline;
    background-color: orange !important;
  }

  .navbar-nav li{
    padding: 10px;
  }
  
  .custom-toggler .navbar-toggler-icon {
    background-image: url( 
      "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg%27%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  

  
  