<!DOCTYPE html>
<html lang="en-US">
<head>
   <meta charset="UTF-8">
   <title>Welcome to KrisLab</title>
   <link rel="stylesheet" type="text/css" href="stylesheet/main.css">
</head>
   
   <body style="background-image: url(images/wallpaper.png); background-size: cover;">
      <div>
         <form method="post" action="/welcome-page" id="welcome-page">
            <button type=submit><larger><stronger>Start</stronger></larger><br><small>Your<br>Journey Here</small></button> 
         </form>
      </div>
      <div>
         <p class="krislab">KRISLAB</p>
         <img class="logo" src="images/sglogo.png">
         <hr style="border:2px solid #082767; width: 40%; position: absolute; top: 80%; left: 25%;" />
         <p class="statement">Turning digitally-driven ideas into reality</p>
      </div>
   </body>

</html>