<!DOCTYPE html>
<html lang="en-US">
<head>
   <meta charset="UTF-8">
   <title>Select your device</title>
   <link rel="stylesheet" type="text/css" href="stylesheet/main.css">
</head>

<body>
   <!--Button for iPad Registration-->
   <form method="post" action="/ipad-registration" id="ipad-registration">
      <button class="ipad" type=submit>Unlock iPad</button>
   </form>
   <!--Button for Mobile Registration-->
   <form method="post" action="/mobile-registration" id="mobile-registration">
      <button class="mobile" type=submit>Scan QR Code</button>
   </form>
</body>
   
</html>